.mail-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-top: 0;
  padding: 0;
  margin-bottom: 20px;
}
.mail-box-header {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  border-bottom: 0;
  padding: 30px 20px 20px;
  & h2 {
    margin-top: 0;
  }
}
.mailbox-content {
  background: none;
  border: none;
  padding: 10px;
  & .tag-list li a {
    background: #ffffff;
  }
}
.mail-body {
  border-top: 1px solid #e7eaec;
  padding: 20px;
  & .form-group {
    margin-bottom: 5px;
  }
}
.mail-text {
  border-top: 1px solid #e7eaec;
  & .note-toolbar {
    padding: 10px 15px;
  }
  & .note-editor .note-toolbar {
    background-color: #F9F8F8;
  }
}
.mail-attachment {
  border-top: 1px solid #e7eaec;
  padding: 20px;
  font-size: 12px;
}
.mail-contact {
  width: 23%;
}
