.mail-box-header
  div.pull-right.mail-search(method='get' action='index.html')
    .input-group
      input.form-control.input-sm(type='text' name='search' placeholder='Search User' ng-model='search.$')
  h2 Users ({{ulc.items.length}})
  .mail-tools.tooltip-demo.m-t-md
    .input-group
      button.btn.btn-white.btn-sm(ng-click='ulc.list()')
        i.fa.fa-refresh  Refresh
.mail-box
  table.table.table-hover.table-mail
    tbody
      tr.read(ng-repeat='(key, item) in ulc.items | filter:search')
        td
          span.badge(style='color: #fff; background-color: {{item._project.color}}' ng-bind='item._project.title')
        td.mail-contact
          span(ng-bind='::item.login')
        td.mail-contact
          span(ng-bind='::item.email')
        td.mail-subject
          span(ng-bind='::item.firstName')
        td.mail-subject
          span(ng-bind='::item.lastName')
        td.mail-subject
          a(href='#' editable-select='item.role' onaftersave='ulc.update(item)' e-ng-options="role.value as role.text for role in [{value: 'user', text: 'user'}, {value: 'admin', text: 'admin'}]") {{item.role}}
        td
          i.fa.fa-paperclip(ng-if='item.attachments.length')
        td.text-right.mail-date(am-time-ago='item.created')
