.container {
  @include fill-parent;
  @include padding(20px 10px 0 25px);

  &__aside,
  &__content {
    @include padding(15px);
  }

  &__aside {
    @include span-columns(3);
  }

  &__content {
    @include span-columns(9);
  }
}
