.navbar {
  @include size(100% 60px);
  @include background($navbar-bg-color);
  border-bottom: $base-border;
  //@include border-style(null null solid null);
  //@include border-width(0 0 1px 0);
  //@include border-color(null null transparent null);
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  @include align-items(center);

  &__item {
    color: $navbar-color;

    &_welcome {
      @include margin(0 0 0 40px);
    }

    &_logout {
      @include margin(0 40px 0 0);
      font-weight: 600;

      &:hover {
        color: darken($navbar-color, 10%);
      }
    }
  }
}
